<section class="bg-slate-900 h-screen w-[300px] lg:w-[350px] p-10 relative">
  <div class="flex">
    <h1 class="text-white font-medium text-[20px] text-center cursor-pointer mt-3">
      EXPENSES TRACKER
    </h1>
    <i class="fa-solid fa-caret-left ps-12 text-white text-[50px]"></i>
  </div>

  <div class="navlist mt-5">
    <ul>
      <li
        class="p-2 text-white hover:text-slate-900 hover:bg-slate-100 rounded-md text-[15px] font-medium cursor-pointer my-1"
      >
        Expense Entry
      </li>
      <li
        class="p-2 text-white hover:text-slate-900 hover:bg-slate-100 rounded-md text-[15px] font-medium cursor-pointer my-1"
      >
        Expense Categories
      </li>
    </ul>
  </div>

  <div class="info absolute bottom-10 w-[270px]">
    <ul>
      <li
        class="p-2 text-white hover:text-slate-900 hover:bg-slate-100 rounded-md text-[15px] font-medium cursor-pointer my-1"
      >
        <i class="fa-solid fa-gears pe-2"></i>
        Setting
      </li>
      <li
        class="p-2 text-white hover:text-slate-900 hover:bg-slate-100 rounded-md text-[15px] font-medium cursor-pointer my-1"
      >
        <i class="fa-solid fa-comments pe-2"></i>
        Give Feedback
      </li>

      <li
        class="p-2 text-slate-900 bg-slate-100 rounded-md text-[15px] font-medium cursor-pointer my-1"
      >
        <i class="fa-solid fa-right-from-bracket pe-2"></i>
        logout
      </li>
    </ul>
  </div>
</section>
